body{
}
.paragraph {
font-family: "helvetica";
align-items: center;
 line-height: 180%;
}
h1{
  white-space: "normal";
  font-family: "futura";
  color: black;
  font-weight: 900;
  font-size: 70px;
  font-style:bold;
  text-align: center;
}
.Button {
	background-color:#5FBEBA;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
  font-style:bold;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
}
.Button:hover {
	background-color:#5FAA9F;
}
.Button:active {
	position:relative;
	top:1px;
}
div {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.Button2{
	background-color:#5FBEBA;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
  font-style:bold;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
}
.Button2:hover {
	background-color:#5FAA9F;
}
.Button2:active {
	position:relative;
	top:1px;
}
div {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.Button3{
	background-color:#5FBEBA;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
  font-style:bold;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
}
.Button3:hover {
	background-color:#5FAA9F;
}
.Button3:active {
	position:relative;
	top:1px;
}
