html {
  box-sizing: border-box;
}
.paragraph {
font-family: "helvetica";
align-items: center;
 line-height: 180%;
}
h1{
  white-space: "normal";
  font-family: "futura";
  color: black;
  font-weight: 900;
  font-size: 70px;
  font-style:bold;
  text-align: center;
}
.Button {
	background-color:#5FBEBA;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
  font-style:bold;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
}
.Button:hover {
	background-color:#5FAA9F;
}
.Button:active {
	position:relative;
	top:1px;
}
div {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  font-family: "futura";
}

.title {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 8;
  position: inherit;
  text-align: right;
  font-weight: bold;
  font-size: 80px;

}

.box1 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  position: inherit;
  text-align: right;
  font-size: 30px;

}

.box2 {

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 10;
  align: left;
  font-weight: bold;
  color: black;
  font-size: 50px;



}
.box3 {
  grid-column-start: 3;
  grid-row-start: 5;
  grid-row-end: 9;
  background-color: red;
  background-color: black;
  color: white;
  letter-spacing: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  height: 250px;
  width: 250px;
  background-color: #1E9DD4;
  border-radius: 50%;
  display: inline-block;
}
.FRIDAYS{
  grid-column-start: 1;
  grid-row-start: 8;
  grid-row-end: 10;
  background-color: #28B9DE;
  color: white;
  font-weight: bold;
  font-size: 60px;
  text-align: center;

}
.box4{
  grid-column-start: 1;
  grid-row-start: 4;
  grid-row-end: 10;
  background-color: #28B9DE;
  color: white;
  font-size: 40px;
  text-align: left;

}
.box5{
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 10;
  grid-row-end: 10;
