html {
  box-sizing: border-box;
}
.paragraph {
font-family: "helvetica";
align-items: center;
 line-height: 180%;
}
.Button {

	background-color:#5FBEBA;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
  font-style:bold;
	font-size:20px;
	padding:10px 21px;
	text-decoration:none;
}
.Button:hover {
	background-color:#5FAA9F;
}
.Button:active {
	position:relative;
	top:1px;
}
.space{
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.wrapper{
 font-family: "futura";
}
#line {
  width:11in;
  height:8.5in;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: green;
}
#box{
  width:11in;
  height:8.5in;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
}

#COFFEE{
  font-size: 90px;
  color: WHITE;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation:colorchange 15s
   infinite alternate;
}
@-webkit-keyframes colorchange {
      0% {
        color: white;
      }
      10% {
        color: #FFFACD;
      }
      20% {
        color: #FFFF00;
      }
      30% {
        color: #9ACD32;
      }
      40% {
        color: #7CFC00;
      }
      50% {
        color: #20B2AA;
      }
      60% {
        color: #00BFFF;
      }
      70% {
        color: #0000FF;
      }
      80% {
        color: #8A2BE2;
      }
      90% {
        color: #FF00FF;
      }
      100% {
        color: #FF1493;
      }
    }
#MUSIC{
  font-size: 25px;
  color: white;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#details{
  font-size: 30px;
  color: white;
  position: fixed;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#moredetails{
  font-size: 20px;
  color: white;
  position: fixed;
  top: 89%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
